<div layout="column" >
	<md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>{{titulo}}</h1>
      </div>
    </md-toolbar>	
	<div layout="row" flex>       
        <div layout="column" flex id="content">
            <md-content layout="column" flex >
				<md-toolbar class="md-warn">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">20 primeros POSTS</h2>
					</div>
					<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
				</md-toolbar>
				
				<md-content layout-padding style="height:350px;" id="popupContainer">
					<md-list>
						<md-list-item class="md-2-line" ng-repeat="data in datos | limitTo:20 track by data.id ">
							<div class="md-list-item-text">
								<h2 style="color:#009688">Titulo: {{ data.title }} </h2><h3 style="color:#FF5722" class="md-display-1">creado por: usuario: {{ data.userId }}</h3>
								<p class="list-group-item-text">{{ data.body }}</p>
								<br/>
								
								 <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="showAdvanced($event)">
          							<i class="icon icon-av-black-ic_play_circle_outline_black_24dp">face</i>
        						</md-button>
								<md-button class="md-raised" ng-click="editar(data,$index);">Editar</md-button>
								<md-button class="md-raised md-warn" ng-click="eliminar(data,$index)">Eliminar </md-button>
							</div>								
						</md-list-item>
					</md-list>					
				</md-content>
				<md-divider></md-divider>
				<script type="text/ng-template" id="dialog1.tmpl.html">	
				<md-dialog aria-label="Mango (Fruit)">
					<form>
						<md-toolbar>
							<div class="md-toolbar-tools">
								<h2>Editar: placeholder</h2>
								<span flex></span>
								<md-button class="md-icon-button" ng-click="cancel()">
									<md-icon aria-label="Close dialog">x</md-icon>
								</md-button>
							</div>
						</md-toolbar>
						<md-dialog-content style="max-width:800px;max-height:810px; ">
							
								
						<form>
							<md-card>							
								<md-card-content>
									<md-input-container flex>
										<label>Titulo</label>
										<input ng-model="datosFormulario.title">
									</md-input-container>
									<md-input-container flex>
										<label>Post</label>
										<textarea ng-model="datosFormulario.body"></textarea>
									</md-input-container>
									<div class="md-actions" layout="row" layout-align="end LEFT">
										<md-button class="md-raised md-primary" ng-click="guardar(datosFormulario)">Guardar</md-button>									
									</div>
								</md-card-content>								
							</md-card>
						</form>	
												
							
						</md-dialog-content>
							<div class="md-actions" layout="row">								
								<span flex></span>
								<md-button ng-click="hide()" >
									Not Useful
								</md-button>
								<md-button ng-click="answer('useful')" style="margin-right:20px;" >
									Useful
								</md-button>
							</div>
					  </form>
				</md-dialog>
				</script>	
					<md-content class="md-padding">
						<form>
							<md-card>							
								<md-card-content>
									<md-input-container flex>
										<label>Titulo</label>
										<input ng-model="datosFormulario.title">
									</md-input-container>
									<md-input-container flex>
										<label>Post</label>
										<textarea ng-model="datosFormulario.body"></textarea>
									</md-input-container>
									<div class="md-actions" layout="row" layout-align="end LEFT">
										<md-button class="md-raised md-primary" ng-click="guardar(datosFormulario)">Guardar</md-button>									
									</div>
								</md-card-content>								
							</md-card>
						</form>	
					</md-content>					
            </md-content>
        </div>
    </div>

	

</div>